In [1]:
import pandas as pd

In [2]:
def parse_citation_file(file_path):
    papers = []  # List to hold all papers
    with open(file_path, 'r') as file:
        paper = {}  # Dictionary to store the current paper's details
        references = []  # List to store multiple reference IDs for the current paper
        for line in file:
            line = line.strip()  # Remove leading/trailing whitespace
            if line.startswith('#*'):
                if paper:  # If moving to a new paper, save the last one
                    paper['references'] = references
                    papers.append(paper)
                    paper = {}
                    references = []
                paper['title'] = line[2:]  # Remove the '#*' and save the title
            elif line.startswith('#@'):
                paper['authors'] = line[2:].split(',')  # Split authors by comma
            elif line.startswith('#t'):
                paper['year'] = int(line[2:])  # Convert year to integer
            elif line.startswith('#c'):
                paper['venue'] = line[2:] if line[2:] else None  # Handle empty venues
            elif line.startswith('#index'):
                paper['id'] = line[6:]  # Save the index as id
            elif line.startswith('#!'):
                paper['abstract'] = line[2:]  # Save the abstract
            elif line.startswith('#%'):
                references.append(line[2:])  # Append reference ID to the list
        if paper:  # Add the last paper if the file doesn't end with an empty line
            paper['references'] = references
            papers.append(paper)

    return papers

# File path to the citation.txt
file_path = 'DBLPOnlyCitationOct19.txt'
papers = parse_citation_file(file_path)

# Convert list of dictionaries to DataFrame
papers_df = pd.DataFrame(papers)

# Replace NaN in 'references' with empty lists
papers_df['references'] = papers_df['references'].apply(lambda x: x if isinstance(x, list) else [])

# Create a dictionary to count references
reference_count = {}

# Count each id in all references lists
for references in papers_df['references']:
    for ref in references:
        if ref in reference_count:
            reference_count[ref] += 1
        else:
            reference_count[ref] = 1

# Map the counts back to the DataFrame
papers_df['citation_count'] = papers_df['id'].map(reference_count).fillna(0).astype(int)

In [3]:
papers_df.head(50)

,title,authors,year,venue,id,references,abstract,citation_count
0,OQL[C++]: Extending C++ with an Object Query C...,[Jos√© A. Blakeley],1995,Modern Database Systems,0,[],NaN,5
1,Transaction Management in Multidatabase Systems.,"[Yuri Breitbart, Hector Garcia-Molina, Abraham...",1995,Modern Database Systems,1,[],NaN,0
2,Overview of the ADDS System.,"[Yuri Breitbart, Tom C. Reyes]",1995,Modern Database Systems,2,[],NaN,0
3,Multimedia Information Systems: Issues and App...,"[Stavros Christodoulakis, Leonidas Koveos]",1995,Modern Database Systems,3,[],NaN,2
4,Active Database Systems.,"[Umeshwar Dayal, Eric N. Hanson, Jennifer Widom]",1995,Modern Database Systems,4,[995520],NaN,16
5,Where Object-Oriented DBMSs Should Do Better: ...,"[Angelika Kotz Dittrich, Klaus R. Dittrich]",1995,Modern Database Systems,5,[],NaN,1
6,Distributed Databases.,"[Hector Garcia-Molina, Meichun Hsu]",1995,Modern Database Systems,6,[],NaN,0
7,An Object-Oriented DBMS War Story: Developing ...,[Nathan Goodman],1995,Modern Database Systems,7,[],NaN,4
8,Cooperative Transactions for Multiuser Environ...,[Gail E. Kaiser],1995,Modern Database Systems,8,[],NaN,12
9,Schema Architecture of the UniSQL/M Multidatab...,"[William Kelley, Sunit K. Gala, Won Kim, Tom C...",1995,Modern Database Systems,9,[],NaN,7
10,Physical Object Management.,"[Alfons Kemper, Guido Moerkotte]",1995,Modern Database Systems,10,[],NaN,4
11,Introduction to Part 1: Next-Generation Databa...,[Won Kim],1995,Modern Database Systems,11,[],NaN,0
12,"Object-Oriented Database Systems: Promises, Re...",[Won Kim],1995,Modern Database Systems,12,[],NaN,13
13,Introduction to Part 2: Technology for Interop...,[Won Kim],1995,Modern Database Systems,13,[],NaN,0
14,On Resolving Schematic Heterogeneity in Multid...,"[Won Kim, Injun Choi, Sunit K. Gala, Mark Sche...",1995,Modern Database Systems,14,[1064647],NaN,39
15,Requirements for a Performance Benchmark for O...,"[Won Kim, Jorge F. Garza]",1995,Modern Database Systems,15,[],NaN,1
16,On View Support in Object-Oriented Databases S...,"[Won Kim, William Kelley]",1995,Modern Database Systems,16,[],NaN,5
17,The POSC Solution to Managing E&P Data.,[Vincent J. Kowalski],1995,Modern Database Systems,17,[],NaN,0
18,C++ Bindings to an Object Database.,"[David Krieger, Tim Andrews]",1995,Modern Database Systems,18,[],NaN,1
19,Authorization in Object-Oriented Databases.,[Teresa F. Lunt],1995,Modern Database Systems,19,[],NaN,0
20,Query Processing in Multidatabase Systems.,"[Weiyi Meng, Clement T. Yu]",1995,Modern Database Systems,20,[],NaN,10
21,Management of Uncerainty in database Systems.,[Amihai Motro],1995,Modern Database Systems,21,[],NaN,5
22,Parallel Relational Database Systems.,[Edward Omiecinski],1995,Modern Database Systems,22,[],NaN,1
23,Query Processing in Object-Oriented Database S...,"[M. Tamer √ñzsu, Jos√© A. Blakeley]",1995,Modern Database Systems,23,[],NaN,4
24,Specification and Execution of Transactional W...,"[Marek Rusinkiewicz, Amit P. Sheth]",1995,Modern Database Systems,24,"[26682, 807142, 1065531, 855968]",NaN,45
25,Spatial Data Structures.,[Hanan Samet],1995,Modern Database Systems,25,[165],An overview is presented of the use of spatial...,13
26,Spatial Data Models and Query Processing.,"[Hanan Samet, Walid G. Aref]",1995,Modern Database Systems,26,[],NaN,13
27,Pegasus: A Heterogeneous Information Managemen...,"[Ming-Chien Shan, Rafi Ahmed, Jim Davis, Weimi...",1995,Modern Database Systems,27,[],NaN,14
28,Temporal Object-Oriented Databases: A Critical...,[Richard T. Snodgrass],1995,Modern Database Systems,28,[],NaN,17
29,The OMG Object Model.,"[Richard Mark Soley, William Kent]",1995,Modern Database Systems,29,[],NaN,5
30,EDA/SQL.,[Ralph L. Stout],1995,Modern Database Systems,30,[],NaN,1
31,The Changing Database Standards Landscape.,[Craig W. Thompson],1995,Modern Database Systems,31,[],NaN,1
32,"Modern Database Systems: The Object Model, Int...",[Won Kim],1995,Modern Database Systems,32,[],NaN,29
33,Inequalities: Theory of Majorization and Its A...,"[Albert W. Marshall, Ingram Olkin]",1979,None,33,[],NaN,8
34,Version Control in an Object-Oriented Architec...,"[Anders Bj√∂rnerstedt, Christer Hulten]",1989,"Object-Oriented Concepts, Databases, and Appli...",34,[],NaN,22
35,The GemStone Data Management System.,"[Robert Bretl, David Maier, Allen Otis, D. Jas...",1989,"Object-Oriented Concepts, Databases, and Appli...",35,[],NaN,30
36,Storage Management in EXODUS.,"[Michael J. Carey, David J. DeWitt, Joel E. Ri...",1989,"Object-Oriented Concepts, Databases, and Appli...",36,[],NaN,11
37,A Distributed Object Manager for the Smalltalk...,[Dominique Decouchant],1989,"Object-Oriented Concepts, Databases, and Appli...",37,[],NaN,0
38,"Objects, Messages, and Rules in Database Design.","[Jim Diederich, Jack Milton]",1989,"Object-Oriented Concepts, Databases, and Appli...",38,[],NaN,0
39,Active Objects: Ealities and Possibilities.,"[Clarence A. Ellis, Simon J. Gibbs]",1989,"Object-Oriented Concepts, Databases, and Appli...",39,[],NaN,1
40,Overview of the Iris DBMS.,"[Daniel H. Fishman, Jurgen Annevelink, David B...",1989,"Object-Oriented Concepts, Databases, and Appli...",40,[],NaN,20
41,Features of the ORION Object-Oriented Database...,"[Won Kim, Nat Ballou, Hong-Tai Chou, Jorge F. ...",1989,"Object-Oriented Concepts, Databases, and Appli...",41,[],NaN,35
42,Indexing Techniques for Object-Oriented Databa...,"[Won Kim, Kyung-Chang Kim, Alfred G. Dale]",1989,"Object-Oriented Concepts, Databases, and Appli...",42,[],NaN,59
43,My Cat Is Object-Oriented.,[Roger King],1989,"Object-Oriented Concepts, Databases, and Appli...",43,[],NaN,7
44,Making Database Systems Fast Enough for CAD Ap...,[David Maier],1989,"Object-Oriented Concepts, Databases, and Appli...",44,[],NaN,12
45,Optimizing Smalltalk Message Performance.,"[Fred Mellender, Steve Riegel, Andrew Straw]",1989,"Object-Oriented Concepts, Databases, and Appli...",45,[],NaN,4
46,The Common List Object-Oriented Programming La...,[David A. Moon],1989,"Object-Oriented Concepts, Databases, and Appli...",46,[],NaN,12
47,Object Orientation as Catalyst for Language-Da...,[J. Eliot B. Moss],1989,"Object-Oriented Concepts, Databases, and Appli...",47,[],NaN,0
48,A Survey of Object-Oriented Concepts.,[Oscar Nierstrasz],1989,"Object-Oriented Concepts, Databases, and Appli...",48,[],NaN,14
49,Integrated Office Systems.,"[Oscar Nierstrasz, Dennis Tsichritzis]",1989,"Object-Oriented Concepts, Databases, and Appli...",49,[],NaN,2

In [4]:
papers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1632442 entries, 0 to 1632441
Data columns (total 8 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   title           1632442 non-null  object
 1   authors         1632442 non-null  object
 2   year            1632442 non-null  int64
 3   venue           1630753 non-null  object
 4   id              1632442 non-null  object
 5   references      1632442 non-null  object
 6   abstract        653510 non-null   object
 7   citation_count  1632442 non-null  int64
dtypes: int64(2), object(6)
memory usage: 99.6+ MB

In [5]:
pd.set_option('display.max_rows', None)
papers_df['citation_count'].value_counts()

citation_count
0       1293828
1        116791
2         56802
3         34477
4         23418
5         16801
6         12605
7          9826
8          8097
9          6440
10         5478
11         4569
12         3923
13         3394
14         2883
15         2593
16         2312
17         2061
18         1736
19         1633
20         1458
21         1307
22         1122
23         1090
24          969
25          884
26          799
27          740
28          681
29          665
30          571
31          558
32          537
33          498
34          458
35          415
37          400
36          397
38          346
39          342
40          337
41          298
42          292
44          290
43          253
47          232
46          230
48          209
45          209
51          203
49          193
52          179
53          172
50          171
54          147
56          142
55          140
58          128
57          121
61          119
62          117
64          111
59          111
60          109
63          108
68           93
66           91
74           88
69           87
72           86
67           83
73           82
65           77
70           74
75           71
71           70
79           67
77           67
85           66
81           64
78           57
76           57
80           56
84           52
90           52
93           50
91           50
87           50
86           47
82           46
99           46
83           45
92           44
95           42
88           41
94           41
97           40
96           39
102          39
89           35
101          34
109          33
100          33
113          30
98           29
110          28
105          28
104          27
107          27
117          26
103          25
116          25
114          25
125          23
111          23
106          23
115          22
118          21
127          21
121          20
124          20
108          19
120          19
112          19
138          18
126          18
122          17
133          17
139          17
123          17
136          17
155          17
128          16
119          16
132          16
144          15
135          15
169          14
129          14
147          13
161          13
141          13
130          13
150          12
152          12
145          12
142          12
148          12
140          12
143          12
131          12
180          12
134          11
153          11
154          11
156          11
168          11
137          11
146          11
166          11
184          10
164          10
158           9
194           9
163           9
188           9
165           9
160           9
196           8
211           8
201           8
185           8
176           8
173           8
172           8
162           8
195           8
202           7
187           7
193           7
233           7
220           7
179           7
149           7
189           7
157           6
159           6
167           6
171           6
197           6
186           6
206           6
170           6
215           6
199           5
224           5
231           5
221           5
174           5
178           5
177           5
209           5
218           5
198           5
210           5
181           5
175           5
277           4
203           4
151           4
244           4
223           4
214           4
236           4
311           4
254           4
235           4
264           4
409           4
183           4
219           4
298           4
208           3
294           3
381           3
263           3
222           3
227           3
234           3
301           3
207           3
255           3
292           3
258           3
319           3
182           3
217           3
229           3
281           3
239           3
204           3
374           3
245           3
191           3
326           3
274           3
288           3
205           3
296           3
242           3
303           3
317           3
354           3
261           3
271           3
228           3
237           3
275           2
232           2
273           2
262           2
266           2
458           2
247           2
216           2
286           2
251           2
309           2
295           2
312           2
276           2
612           2
314           2
469           2
323           2
243           2
259           2
272           2
283           2
285           2
347           2
325           2
287           2
226           2
344           2
250           2
320           2
238           2
420           2
278           2
334           2
582           2
431           2
446           2
439           2
256           2
510           2
282           2
539           2
246           2
589           2
267           2
563           2
387           2
252           2
200           2
529           1
300           1
372           1
449           1
362           1
487           1
322           1
608           1
688           1
427           1
341           1
627           1
516           1
389           1
369           1
411           1
587           1
1104          1
359           1
454           1
291           1
346           1
467           1
377           1
447           1
380           1
584           1
1155          1
253           1
1256          1
423           1
289           1
860           1
917           1
600           1
776           1
373           1
453           1
368           1
348           1
698           1
661           1
471           1
594           1
790           1
488           1
455           1
284           1
605           1
404           1
331           1
483           1
622           1
501           1
462           1
556           1
726           1
306           1
330           1
304           1
357           1
1107          1
551           1
448           1
559           1
692           1
558           1
2292          1
581           1
413           1
507           1
4474          1
240           1
456           1
577           1
522           1
915           1
520           1
623           1
441           1
257           1
491           1
511           1
500           1
1353          1
509           1
305           1
484           1
588           1
1121          1
355           1
190           1
800           1
451           1
482           1
493           1
496           1
888           1
1573          1
2375          1
450           1
490           1
337           1
497           1
457           1
768           1
329           1
519           1
339           1
1436          1
757           1
230           1
948           1
436           1
1177          1
1555          1
378           1
881           1
192           1
315           1
270           1
297           1
422           1
561           1
1415          1
349           1
772           1
900           1
340           1
248           1
293           1
634           1
887           1
318           1
367           1
361           1
716           1
225           1
268           1
399           1
370           1
638           1
416           1
795           1
1031          1
342           1
Name: count, dtype: int64

In [6]:
papers_df['citation_count'].nunique()

452

In [7]:
papers_df.to_csv('DBLP_citation.csv', index=False)